.instapics{
    background-color: red;
    height:30em;
    width:33em;
}
.insta{
    display:flex;
    height:60vh;
    width:100%;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 30px;
    padding-bottom:60px;
}
.insta::-webkit-scrollbar{
    background-color: rgb(32, 32, 32);
    height:10px;
    border-radius: 1%/40%;
}
.insta::-webkit-scrollbar-thumb{
    background-color: greenyellow;
    border-radius: 1%/40%;
}

.Hover-coat{
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.6);
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
}
.Hover-coat:hover{
    display: flex;
    opacity: 100%;
}
.Hover-logo{
    width:100px;
    height: 100px;
}