

.program{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 6em auto;
    color:white;
}
.program-img{
    width: 30vw;
    height:400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgb(59, 59, 59) 10px 1px 49px;
}
.program-text{
    padding-top: 50px;
}
.program-text > h3{
    font-size: 40px;
}
.program-text > p{
    font-size: 25px;
    padding-top: 10px;
}
.subhead{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-size: 40px;
}
.main-section{
    background-color: rgb(42, 40, 63);
    height:max-content;
    width:100%;
    padding:1em;
    margin-top:8em;
    box-sizing: border-box;
    color:white;
}
.program-div{
    display: flex;
    flex-wrap: wrap;
}
.select-section{
    display: flex;
    flex-wrap: wrap;
    gap:4em;
    justify-content: space-around;
    width:calc(100vw - 20em);
    margin: 6em auto;
}